*,
*::before,
*::after {
    box-sizing: border-box;
}

/** css variables*/
:root {
    --select-border: #0059b3;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --select-color: var(--select-border);
}

.select-container {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

select {
}

.form-select {
    border: none;
    border-bottom: 2px solid #0059b3;
    border-radius: 0;
    outline: none;
    background: transparent;
    color: #0059b3
}

    .form-select:focus {
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid #0059b3;
    }

.dropdown-item {
    background-color: transparent;
    border-radius: 0;
}

    .dropdown-item:hover {
        cursor: pointer !important;
        background-color: #f2f2f2 !important;
    }

    /* define the selected style */
    .dropdown-item:checked {
        background-color: #e6e6e6;
    }
