@page "/login"
@page "/login/{email}"

@attribute [AllowAnonymous]


<div class="h-100 d-flex d-flex align-items-center justify-content-center p-4">
     @if (IsLoading)
     {
         <LoadingOverlay />
     }
   <LoginForm ShowRegisterLink="true" Email="@Email" SetIsLoading="@SetIsLoading"/>
</div>

@code{
    [Parameter]
    public string Email { get; set; }
}





