@page "/register"
@attribute [AllowAnonymous]



<div class="h-100 d-flex d-flex align-items-center justify-content-center p-4">
    @if (IsLoading)
    {
        <LoadingOverlay />
    }
    <RegisterForm />
</div>