@inherits LayoutComponentBase

<div class="container-fluid d-flex p-0 m-0 min-vh-100">
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-column p-0 m-0 w-100 app-bar-container">
            <div class="d-flex flex-row pt-3 pb-3 px-4 bg-dark p-2">
                <div class="d-flex justify-content-between w-100">
                    <a class="text-light text-decoration-none d-flex justify-content-center align-items-center nav-link" href="#" @onclick="@ToggleExpanded">
                        <i class="bi bi-list fs-4"></i>
                        <span class="text-white fs-4 ps-4">AppBar</span>
                    </a>
                    <Dropdown ButtonStyle="bg-dark text-white"
                              IconStyle="bi bi-person-circle fs-4 text-light"
                              Label="@_currentUser.UserName"
                              LabelStyle="text-light"
                              MenuStyle="text-dark"
                              Items="@_userMenuDropdownItems" />
                </div>
            </div>
        </div>
        <div class="row flex-column w-100 p-0 m-0 h-auto">
            @*  side bar *@
            <div class="d-flex flex-row px-0 w-100 app-content-container">
                <div class="d-flex flex-column bg-dark">
                    <ul class="nav nav-pills p-0 m-0 mb-auto px-2 pt-2">
                        <NavItem ItemId="test"
                                 Icon="bi bi-gear"
                                 Label="Test my nice app menu"
                                 To="/"
                                 IsExpanded="_isExpanded"
                                 HasDivider="true" />
                    </ul>
                </div>
                @* page content *@
                <div class="d-flex flex-column p-0 m-0 w-100 h-100 p-2">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>