.outer {
    width:90%;
    height:90%;
    display:flex;
    justify-content:center;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.inner {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
}

.outer:hover .inner {
/*    width: 90%;
    height: 90%;*/
}
