.nav-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    border-left: 2px solid transparent;
}

    .nav-list-item i {
        padding-left: 10px;
        color: #fff;
    }

    .nav-list-item span {
        display: none;
    }

    .nav-list-item.expanded:hover {
    }

    .nav-list-item.expanded span {
        display: flex;
        padding: 0 8px;
    }

        .nav-list-item.expanded span a {
            font-size: 1.2rem;
            text-decoration: none;
            color: #fff;
            font-weight: 400;
        }

    .nav-list-item.expanded:hover {
        border-left: 2px solid #0059b3;
        cursor: pointer;
    }



i {
    font-size: 1.5rem;
}
