<li class="@Css">
    <i class="@Icon"></i>
    <span><a href="@To">@Label</a></span>
</li>

@code {
    
    [Parameter] public string? Css { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? To { get; set; }
}
