@page "/no-content"
@inject IStringLocalizer<Common> localizer
@using Microsoft.Extensions.Localization
@using Web.Core.Shared.Resources

<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="d-flex justify-content-center align-items-center p-4 bg-danger w-100">
        <label class="text-white text-center fs5">@ResourceService.GetResource("ErrorNoContent")</label>
    </div>
</div>
