@page "/user-administration"

<div class="container-fluid h-100">
    <div class="row w-100 h-100">
        <div class="col flex-column h-100 menu-container">
            <ul class="m-0 p-0">
                <MenuListItem SectionId="1"
                              Title="Test"
                              SubTitle="Das ist ein Test"
                              Disabled="@(_section == 1)"
                              OnSectionChanged="HandleSelectedSectionChanged" />
                <MenuListItem SectionId="2"
                              Title="Test"
                              SubTitle="Das ist ein Test"
                              Disabled="@(_section == 2)"
                              OnSectionChanged="HandleSelectedSectionChanged" />
            </ul>
        </div>
        <div class="col col-10 h-100 bg-danger">
            Content
        </div>
    </div>
</div>

