<div class="d-flex d-inline-flex @Css">
    @if(Icon != null)
    {
        <i class="@Icon"></i>
    }
    <a class="link-opacity-75 link-underline link-underline-opacity-0" href="@To">@Label</a>
</div>

@code {
    [Parameter]
    public string? Css { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? To { get; set; }
    [Parameter]
    public string? Label { get; set; }
}
